
.gradle/8.5/checksums/checksums.lock
.gradle/8.5/dependencies-accessors/dependencies-accessors.lock
.gradle/8.5/dependencies-accessors/gc.properties
.gradle/8.5/executionHistory/executionHistory.lock
.gradle/8.5/fileChanges/last-build.bin
.gradle/8.5/fileHashes/fileHashes.lock
.gradle/8.5/gc.properties
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/vcs-1/gc.properties
.idea/consolestorage/flexible_search_region.json
.idea/consolestorage/solr_region.json
.idea/hybrisProjectSettings.xml
.idea/sonarlint/issuestore/8/e/8ec9a00bfd09b3190ac6b22251dbb1aa95a0579d
.idea/sonarlint/issuestore/index.pb
.idea/sonarlint/securityhotspotstore/8/e/8ec9a00bfd09b3190ac6b22251dbb1aa95a0579d
.idea/sonarlint/securityhotspotstore/index.pb
.gradle/8.5/executionHistory/executionHistory.bin
.gradle/8.5/fileHashes/fileHashes.bin
.gradle/8.5/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/file-system.probe
.idea/.name
.idea/compiler.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/modules/bvnk_client_service.iml
.idea/modules/bvnk_client_service.main.iml
.idea/modules/bvnk_client_service.test.iml
.idea/vcs.xml
build/classes/java/main/com/example/bvnk_client_service/api/HistoryServiceAPI.class
build/classes/java/main/com/example/bvnk_client_service/api/ReportingServiceAPI.class
build/classes/java/main/com/example/bvnk_client_service/api/TransactionServiceAPI.class
build/classes/java/main/com/example/bvnk_client_service/BvnkClientServiceApplication.class
build/classes/java/main/com/example/bvnk_client_service/configuration/AppConfig.class
build/classes/java/main/com/example/bvnk_client_service/controller/ClientController.class
build/classes/java/main/com/example/bvnk_client_service/controller/ReportController.class
build/classes/java/main/com/example/bvnk_client_service/DTO/response/HistoryReponseData.class
build/classes/java/main/com/example/bvnk_client_service/DTO/response/ReportResponseData.class
build/classes/java/main/com/example/bvnk_client_service/DTO/response/TransactionResponseData.class
build/classes/java/main/com/example/bvnk_client_service/entity/Address.class
build/classes/java/main/com/example/bvnk_client_service/entity/Client.class
build/classes/java/main/com/example/bvnk_client_service/entity/Report.class
build/classes/java/main/com/example/bvnk_client_service/facade/impl/DefaultReportFacade.class
build/classes/java/main/com/example/bvnk_client_service/facade/impl/Facade.class
build/classes/java/main/com/example/bvnk_client_service/facade/ReportFacade.class
build/classes/java/main/com/example/bvnk_client_service/populator/impl/ReportPopulator.class
build/classes/java/main/com/example/bvnk_client_service/populator/Populator.class
build/classes/java/main/com/example/bvnk_client_service/repository/ClientDAO.class
build/classes/java/main/com/example/bvnk_client_service/repository/ReportDAO.class
build/classes/java/main/com/example/bvnk_client_service/service/ClientService.class
build/classes/java/main/com/example/bvnk_client_service/service/impl/DefaultClientService.class
build/classes/java/main/com/example/bvnk_client_service/service/impl/DefaultReportService.class
build/classes/java/main/com/example/bvnk_client_service/service/ReportService.class
build/resources/main/application.properties
build/tmp/compileJava/previous-compilation-data.bin
.idea/sonarlint/securityhotspotstore/f/5/f54c28fefdb7f5652e530cdfbc858de849074b7a
.idea/sonarlint/securityhotspotstore/d/4/d491f95da5f912e5e2531953507bf416076ae117
.idea/sonarlint/securityhotspotstore/a/5/a5cc2925ca8258af241be7e5b0381edf30266302
.idea/sonarlint/securityhotspotstore/9/e/9eaf3ac85a96da4c6808df357b2e707b7112daff
.idea/sonarlint/securityhotspotstore/8/f/8f841bd907b4b5f791358b8557b65e9a6842f951
.idea/sonarlint/securityhotspotstore/8/8/8849528f3349af9d2b5d11d616a327d4ae5ae120
.idea/sonarlint/securityhotspotstore/6/3/63ec4dbadad9f3f6c21cb1a28c128a02ee28ee39
.idea/sonarlint/securityhotspotstore/4/d/4dc28123cffd14f348fb041f8826661a9916e3b2
.idea/sonarlint/securityhotspotstore/2/3/236e4e45bd21276348803319726ac72c188bed4e
.idea/sonarlint/securityhotspotstore/1/d/1d3464ed42a49724e544f234fa332d5cec9e7b51
.idea/sonarlint/issuestore/f/5/f54c28fefdb7f5652e530cdfbc858de849074b7a
.idea/sonarlint/issuestore/d/4/d491f95da5f912e5e2531953507bf416076ae117
.idea/sonarlint/issuestore/a/5/a5cc2925ca8258af241be7e5b0381edf30266302
.idea/sonarlint/issuestore/9/e/9eaf3ac85a96da4c6808df357b2e707b7112daff
.idea/sonarlint/issuestore/8/f/8f841bd907b4b5f791358b8557b65e9a6842f951
.idea/sonarlint/issuestore/8/8/8849528f3349af9d2b5d11d616a327d4ae5ae120
.idea/sonarlint/issuestore/6/3/63ec4dbadad9f3f6c21cb1a28c128a02ee28ee39
.idea/sonarlint/issuestore/4/d/4dc28123cffd14f348fb041f8826661a9916e3b2
.idea/sonarlint/issuestore/2/3/236e4e45bd21276348803319726ac72c188bed4e
.idea/sonarlint/issuestore/1/d/1d3464ed42a49724e544f234fa332d5cec9e7b51
