
.gradle/8.5/checksums/checksums.lock
.gradle/8.5/dependencies-accessors/dependencies-accessors.lock
.gradle/8.5/dependencies-accessors/gc.properties
.gradle/8.5/executionHistory/executionHistory.lock
.gradle/8.5/fileChanges/last-build.bin
.gradle/8.5/fileHashes/fileHashes.lock
.gradle/8.5/gc.properties
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/vcs-1/gc.properties
.idea/consolestorage/flexible_search_region.json
.idea/consolestorage/solr_region.json
.idea/hybrisProjectSettings.xml
.idea/sonarlint/issuestore/8/e/8ec9a00bfd09b3190ac6b22251dbb1aa95a0579d
.idea/sonarlint/issuestore/index.pb
.idea/sonarlint/securityhotspotstore/8/e/8ec9a00bfd09b3190ac6b22251dbb1aa95a0579d
.idea/sonarlint/securityhotspotstore/index.pb
.gradle/8.5/executionHistory/executionHistory.bin
.gradle/8.5/fileHashes/fileHashes.bin
.gradle/8.5/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/file-system.probe
.idea/.name
.idea/compiler.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/modules/bvnk_client_service.iml
.idea/modules/bvnk_client_service.main.iml
.idea/modules/bvnk_client_service.test.iml
.idea/vcs.xml
build/classes/java/main/com/example/bvnk_client_service/api/HistoryServiceAPI.class
build/classes/java/main/com/example/bvnk_client_service/api/ReportingServiceAPI.class
build/classes/java/main/com/example/bvnk_client_service/api/TransactionServiceAPI.class
build/classes/java/main/com/example/bvnk_client_service/BvnkClientServiceApplication.class
build/classes/java/main/com/example/bvnk_client_service/configuration/AppConfig.class
build/classes/java/main/com/example/bvnk_client_service/controller/ClientController.class
build/classes/java/main/com/example/bvnk_client_service/controller/ReportController.class
build/classes/java/main/com/example/bvnk_client_service/DTO/response/HistoryReponseData.class
build/classes/java/main/com/example/bvnk_client_service/DTO/response/ReportResponseData.class
build/classes/java/main/com/example/bvnk_client_service/DTO/response/TransactionResponseData.class
build/classes/java/main/com/example/bvnk_client_service/entity/Address.class
build/classes/java/main/com/example/bvnk_client_service/entity/Client.class
build/classes/java/main/com/example/bvnk_client_service/entity/Report.class
build/classes/java/main/com/example/bvnk_client_service/facade/impl/DefaultReportFacade.class
build/classes/java/main/com/example/bvnk_client_service/facade/impl/Facade.class
build/classes/java/main/com/example/bvnk_client_service/facade/ReportFacade.class
build/classes/java/main/com/example/bvnk_client_service/populator/impl/ReportPopulator.class
build/classes/java/main/com/example/bvnk_client_service/populator/Populator.class
build/classes/java/main/com/example/bvnk_client_service/repository/ClientDAO.class
build/classes/java/main/com/example/bvnk_client_service/repository/ReportDAO.class
build/classes/java/main/com/example/bvnk_client_service/service/ClientService.class
build/classes/java/main/com/example/bvnk_client_service/service/impl/DefaultClientService.class
build/classes/java/main/com/example/bvnk_client_service/service/impl/DefaultReportService.class
build/classes/java/main/com/example/bvnk_client_service/service/ReportService.class
build/resources/main/application.properties
build/tmp/compileJava/previous-compilation-data.bin
.idea/sonarlint/securityhotspotstore/f/5/f54c28fefdb7f5652e530cdfbc858de849074b7a
.idea/sonarlint/securityhotspotstore/d/4/d491f95da5f912e5e2531953507bf416076ae117
.idea/sonarlint/securityhotspotstore/a/5/a5cc2925ca8258af241be7e5b0381edf30266302
.idea/sonarlint/securityhotspotstore/9/e/9eaf3ac85a96da4c6808df357b2e707b7112daff
.idea/sonarlint/securityhotspotstore/8/f/8f841bd907b4b5f791358b8557b65e9a6842f951
.idea/sonarlint/securityhotspotstore/8/8/8849528f3349af9d2b5d11d616a327d4ae5ae120
.idea/sonarlint/securityhotspotstore/6/3/63ec4dbadad9f3f6c21cb1a28c128a02ee28ee39
.idea/sonarlint/securityhotspotstore/4/d/4dc28123cffd14f348fb041f8826661a9916e3b2
.idea/sonarlint/securityhotspotstore/2/3/236e4e45bd21276348803319726ac72c188bed4e
.idea/sonarlint/securityhotspotstore/1/d/1d3464ed42a49724e544f234fa332d5cec9e7b51
.idea/sonarlint/issuestore/f/5/f54c28fefdb7f5652e530cdfbc858de849074b7a
.idea/sonarlint/issuestore/d/4/d491f95da5f912e5e2531953507bf416076ae117
.idea/sonarlint/issuestore/a/5/a5cc2925ca8258af241be7e5b0381edf30266302
.idea/sonarlint/issuestore/9/e/9eaf3ac85a96da4c6808df357b2e707b7112daff
.idea/sonarlint/issuestore/8/f/8f841bd907b4b5f791358b8557b65e9a6842f951
.idea/sonarlint/issuestore/8/8/8849528f3349af9d2b5d11d616a327d4ae5ae120
.idea/sonarlint/issuestore/6/3/63ec4dbadad9f3f6c21cb1a28c128a02ee28ee39
.idea/sonarlint/issuestore/4/d/4dc28123cffd14f348fb041f8826661a9916e3b2
.idea/sonarlint/issuestore/2/3/236e4e45bd21276348803319726ac72c188bed4e
.idea/sonarlint/issuestore/1/d/1d3464ed42a49724e544f234fa332d5cec9e7b51
.idea/sonarlint/issuestore/3/4/342a41158bc1562357a6038119dbcb8ee266d9b2
.idea/sonarlint/issuestore/4/d/4d36b3e3bae93f5aa09e30a5b2b67597d87e8b57
.idea/sonarlint/issuestore/7/f/7fe45e4e2787dc4ea113dcb9768334ae415bb17b
.idea/sonarlint/issuestore/a/9/a9dd5528a5a2fef5b5c3c5e405cb6ed385e01d17
.idea/sonarlint/issuestore/a/d/ad9957856f61316218ff4d648396d5eda223efd0
.idea/sonarlint/issuestore/b/f/bfe626551532f097806d4e4a19a5566ac8584276
.idea/sonarlint/securityhotspotstore/3/4/342a41158bc1562357a6038119dbcb8ee266d9b2
.idea/sonarlint/securityhotspotstore/4/d/4d36b3e3bae93f5aa09e30a5b2b67597d87e8b57
.idea/sonarlint/securityhotspotstore/7/f/7fe45e4e2787dc4ea113dcb9768334ae415bb17b
.idea/sonarlint/securityhotspotstore/a/9/a9dd5528a5a2fef5b5c3c5e405cb6ed385e01d17
.idea/sonarlint/securityhotspotstore/a/d/ad9957856f61316218ff4d648396d5eda223efd0
.idea/sonarlint/securityhotspotstore/b/f/bfe626551532f097806d4e4a19a5566ac8584276
*.class
build/tmp/compileJava/compileTransaction/stash-dir/TransactionServiceAPI.class.uniqueId0
build/tmp/compileJava/compileTransaction/stash-dir/ReportingServiceAPI.class.uniqueId2
build/tmp/compileJava/compileTransaction/stash-dir/DefaultReportService.class.uniqueId1
.idea/sonarlint/securityhotspotstore/4/f/4fad6f3cc42cdffbf1e788fcfafc19fab351f06a
.idea/sonarlint/securityhotspotstore/4/c/4c3647845e37e3196083b3d6f60c2688c77a02b9
.idea/sonarlint/securityhotspotstore/4/c/4c2b9f76b18a53c02bb40254a64a6281f258dadd
.idea/sonarlint/securityhotspotstore/4/5/45d97e2f78faa97f352c57f1353f5f2e48eb0918
.idea/sonarlint/securityhotspotstore/3/c/3c2b45e528d8e9364067787c6fbcaeb01f3dd83b
.idea/sonarlint/securityhotspotstore/0/0/00ee32bf4fae9b8ecca67f289bf7f4ed3b68c34f
.idea/sonarlint/issuestore/4/f/4fad6f3cc42cdffbf1e788fcfafc19fab351f06a
.idea/sonarlint/issuestore/4/c/4c3647845e37e3196083b3d6f60c2688c77a02b9
.idea/sonarlint/issuestore/4/c/4c2b9f76b18a53c02bb40254a64a6281f258dadd
.idea/sonarlint/issuestore/4/5/45d97e2f78faa97f352c57f1353f5f2e48eb0918
.idea/sonarlint/issuestore/3/c/3c2b45e528d8e9364067787c6fbcaeb01f3dd83b
.idea/sonarlint/issuestore/0/0/00ee32bf4fae9b8ecca67f289bf7f4ed3b68c34f
build/tmp/compileJava/compileTransaction/stash-dir/Transaction.class.uniqueId5
build/tmp/compileJava/compileTransaction/stash-dir/ReportPopulator.class.uniqueId4
build/tmp/compileJava/compileTransaction/stash-dir/ReportDAO.class.uniqueId7
build/tmp/compileJava/compileTransaction/stash-dir/Report.class.uniqueId0
build/tmp/compileJava/compileTransaction/stash-dir/HistoryServiceAPI.class.uniqueId1
build/tmp/compileJava/compileTransaction/stash-dir/DefaultReportFacade.class.uniqueId8
build/tmp/compileJava/compileTransaction/stash-dir/DefaultClientService.class.uniqueId11
build/tmp/compileJava/compileTransaction/stash-dir/ClientService.class.uniqueId9
build/tmp/compileJava/compileTransaction/stash-dir/ClientDAO.class.uniqueId2
build/tmp/compileJava/compileTransaction/stash-dir/Client.class.uniqueId3
build/tmp/compileJava/compileTransaction/stash-dir/AppConfig.class.uniqueId6
build/tmp/compileJava/compileTransaction/stash-dir/Address.class.uniqueId10
.idea/uiDesigner.xml
.idea/sonarlint/securityhotspotstore/c/2/c20b6497727d06b3f8b064ebe997b991eb817837
.idea/sonarlint/securityhotspotstore/c/1/c1b37851ddf4a0b5ea5903c037ce0cebb68f07e2
.idea/sonarlint/securityhotspotstore/b/a/ba4ea86ad718ac8ced381f0b15d41a16f3cab8ef
.idea/sonarlint/securityhotspotstore/b/4/b49d79fee04150055cc80ebeda09c039f6a6b13e
.idea/sonarlint/securityhotspotstore/9/1/91fe36cc9fb6839a91fe902c8dbc45ea0d9afc85
.idea/sonarlint/securityhotspotstore/7/c/7cee5f6d3156aa388888c3a7d2ff7a1a80ae3c60
.idea/sonarlint/securityhotspotstore/1/5/159260c8ee779591b16c60bf4674d1a33e28c513
.idea/sonarlint/issuestore/c/2/c20b6497727d06b3f8b064ebe997b991eb817837
.idea/sonarlint/issuestore/c/1/c1b37851ddf4a0b5ea5903c037ce0cebb68f07e2
.idea/sonarlint/issuestore/b/a/ba4ea86ad718ac8ced381f0b15d41a16f3cab8ef
.idea/sonarlint/issuestore/b/4/b49d79fee04150055cc80ebeda09c039f6a6b13e
.idea/sonarlint/issuestore/9/1/91fe36cc9fb6839a91fe902c8dbc45ea0d9afc85
.idea/sonarlint/issuestore/7/c/7cee5f6d3156aa388888c3a7d2ff7a1a80ae3c60
.idea/sonarlint/issuestore/1/5/159260c8ee779591b16c60bf4674d1a33e28c513
.gradle/8.5/checksums/sha1-checksums.bin
